*.pyc
/build
/dist
/releases
/artifacts
/local_data
/mindnavigator/workspaces/__pycache__
__pycache__
.codex/git_key/ghp_token
.codex/manual/ERROR_GIT/
dist/MindNavigator (windows 11 x64)/_internal

dist/MindNavigator (windows 11 x64)/_internal/base_library.zip
/dist
/.pytest_tmp
/.pytest_tmp_data
/.pytest_run_tmp
/.pytest_run_tmp_*
/.pytest_dir
.idea/PylintPlugin.xml

.ai
/.npm-cache
/.codex/mcp-local/
/.test_runtime
/defenition/artifacts
/defenition/dist
/docs/inspect
dist/MindNavigator (windows 11 x64)/_internal/base_library.zip
dist/MindNavigator (windows 11 x64)/MindNavigator.exe
/defenition/build/
*.log
