*.pyc
/build
/dist
/releases
/artifacts
/local_data
/mindnavigator/workspaces/__pycache__
__pycache__
.codex/git_key/ghp_token
.codex/manual/ERROR_GIT/
dist/MindNavigator (windows 11 x64)/_internal

dist/MindNavigator (windows 11 x64)/_internal/base_library.zip
/dist
/.pytest_tmp
.idea/PylintPlugin.xml
